@font-face {
    font-family: seven-segment;
    src: url(./Seven\ Segment.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.wrapper{
     
    width: 600px;
    /* border: 3px solid rgb(12, 12, 12); */
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    border: 3px solid rgb(206, 199, 199);
    margin-top: 40px;
    
}
.month{
    border: 3px solid rgb(206, 199, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    padding: 15px;
    color: #ffff;
    border-radius: 8px;
    
}
.weeks{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(187, 188, 185);
    height: 40px;
    align-items: center;
    font-size: 18px;
    font-family: "Space Mono";
    margin-top: 3px;
}
#days{
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid rgb(8, 19, 5); */
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    margin: 10px 0px;
}
.days_month{
    display: flex;
    justify-content: center;
    
    
}
#days div{
    border: 3px solid rgb(235, 243, 235);
    border-radius: 10px;
    width: 6%;
    padding: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center; 
    margin-left: 10.5px;
    color: black;
    cursor: pointer;
    font-family: "Space Mono";
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.80);
}
#days div:hover{
    background: rgb(5, 149, 245);
    color: rgb(245, 241, 241);
    border-radius: 50%;
    transform: scale(0.9);
    transition: all ease 0.4s;
    
}

.today{
    background: rgb(238, 64, 6);
    color: rgb(244, 249, 252);
}
.prev,.next{
    /* border: 2px solid red; */
    border: none;
    padding:5px 10px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    color: #ffff;
}
.prev:hover,.next:hover{
    transform: scale(0.9);
    transition: all ease 1s;
    background: rgba(0, 0, 0, 0.6);
}
.conatiner2{
    color: #ffff;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 600;
}
.prevData{
    background: gray;
}
#month-data{
    font-family: "Aboreto";
}
#date{
    font-family: "seven-segment";
    color: rgb(16, 16, 16);
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 5px;
}

/* Responsive */
@media only screen and (max-width: 450px){
    .container{
        width: 500px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 8px solid green; */
        padding: 20px 0px;
    }
    .wrapper{
        margin-top: 40px;
        width: 400px;
    }
   
    #days div{
        height: 20px;
        width: 4%;
        gap: 2px;
        padding: 6px;
        border-radius: 0px;
    }
    .today{
        background: rgb(245, 75, 3);
        color: paleturquoise;
    }
    .month{
        background: skyblue;
        color: black;
    }
}

@media only screen and (min-width: 450px) and (max-width:800px){
    .container{
        width: 650px;
    }
    .wrapper{
        margin: 20px;
        width: 500px;
    }
    .month{
        background: rgb(4, 232, 34);
        color: black;
    }
    .today{
        background: rgb(250, 16, 16);
    }
    #days{
        background: #000;
        padding: 5px 0px;
        border: 2px solid #ffff;
        
    }
    #days div{
        color: #ffff;
        height: 20px;
        width: 5%;
        gap: 2px;
        padding: 9.5px;
    }
    .weeks{
        border: 2px solid black;
    }
}